html,
body {
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;

  background-color: lightgray;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.config-area {
  width: 100%;
  height: 100px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.page {
  width: 21cm;
  min-height: 100px;

  background-color: white;

  font-weight: 400;
  font-family: "Roboto", sans-serif;

  padding: 30px 60px 30px;
}

.above-header {
  font-size: 14px;
  color: dimgrey;
}

.header {
  margin-top: 20px;
}

.header-content {
  width: 100%;

  display: flex;
  justify-content: space-between;

  font-size: 22px;
  font-weight: 600;
}

.header-content #header-title {
  color: dimgrey;
}

.separator {
  border: none;
  height: 2px;
  background-color: black;
}

.intro-section {
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.intro-section-text {
  padding-right: 40px;

  flex-shrink: 1;
  white-space: wrap;
}

.intro-section-details {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.intro-section-details li {
  white-space: nowrap;
  display: inline-block;
  flex-grow: 1;
  flex-shrink: 0;
}

.section-header {
  width: 100%;
  margin-top: 20px;

  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}
